wheel==0.43
pytz==2024.1
django==5.0
djangorestframework==3.14
django-allauth==0.55
dj-rest-auth[with_social]==5.0
django-cors-headers==4.3
django-filter==24.1
django-extensions==3.2
django-model-utils==4.4
